@{
    ViewBag.Title = "About";
}
<h2>Chandan Rajendra</h2>
<p>

</p>
<h5><b>(Energy Engineer, &emsp;Python Developer, &emsp;.NET Developer,&emsp; MATLAB & Simulink Developer(MBD),&emsp; CAD Designer)</b></h5>

<p>
      
</p>
<p>
    &emsp;&nbsp;I completed my Master of Science in <b>Energy Engineering at Politecnico di Torino</b>.
    During these studies, students are readied to become a Renewable Energy Source Engineer.
    Also, I worked in the company <b>Infosys Ltd</b> for 2.4 years, where I worked as a CAD automation Engineer.
    I completed more than 3 projects on my own using CATIA V5 application and using VB.Net script to automate
    the designing of different parts/tools.
</p>

<p>
    In my <b>Master thesis</b> I have built a stand-alone desktop application using python as coding language,
    which does the Energy and economic analysis of the PV and Wind farms for the future predictions.
</p>

<p>
    I would describe myself as someone who is passionate, energetic, and very good at problem solving and critical thinking.
    I would like to put these characteristics to use within your organization. I am a quick learner and have a
    great interest in learning new skills. My hobby of learning new skills motivated me to learn new tools such as Matlab,
    PV syst, WAsP, Catia V5.
</p>
<h2>Some pics</h2>
<div>
    <div class="col-md-3">
        <img src="~/Images/Chandan_Rajendra.jpg" alt="My pic" width="173" height="230">
    </div>
</div>