@{
    ViewBag.Title = "Home Page";
}

<style>
    img {
        border-radius: 95%;
    }
</style>

<div class="alert alert-dismissible alert-light">
    <div class="row">
        <div class="col-md-3">
            <img src="~/Images/Chandan_Rajendra.jpg" alt="My pic" width="173" height="230">
        </div>
        <div class="col-md-8">

            <h2>Welcome to my online resume</h2>
            <p class="lead">
                Hi I am Chandan Rajendra, <br />
                * RES and Design Engineer skilled in PVsyst, WAsP, Catia V5, MATLAB<br />
                * Software developer skilled in Python, ASP.NET and HTML<br />
                <br />
                Please go through it and contact me if you need any other information from my side.
            </p>

        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-4">

        <div class="card border-success mb-3" style="min-height: 22rem;">
            <div class="card-header"><b>Energy Engineer</b></div>
            <div class="card-body">
                <p>
                    I completed my Master of Science in Energy Engineering at Politecnico di Torino.
                    During these studies, students are readied to become a Renewable Energy Source Engineer.
                    The emphasis lies on Renewable energy sources mainly focused on Production, Storage, Transmission of
                    energy with minimal losses and their financial analysis are discussed.
                </p>
                <p><a class="btn btn-dark" href="/Home/About"> More Info &raquo;</a></p>
            </div>
        </div>
    </div>
        <div class="col-md-4">
            <div class="card border-success mb-3"  style="min-height: 22rem;">
                <div class="card-header"><b>Python and .NET Developer</b></div>

                <div class="card-body">
                    <p>
                        Previously I worked as systems engineer at Infosys limited. Where they trained me in Python and ASP.NET.
                        During my period of work for 2.4 years I managed to complete 3 different projects on my own.
                        And the clients were very happy and satisfied with my work.
                    </p>
                    <p><a class="btn btn-dark" href="/Home/About">More Info &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-success mb-3"  style="min-height: 22rem;">
                <div class="card-header"><b>Matlab & Simulink(MBD) and Catia V5 Engineer</b></div>
                <div class="card-body">
                    <p>
                        During my course i completed more than 3 different projects on Matlab & simulink.
                        And also gained very good knowledge of working in simulink
                    </p>
                    <p><a class="btn btn-dark" href="/Home/About">More Info &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>

        @*<div class="btn-group-vertical">
            <button id="btn1" type="submit" class="btn btn-primary" onclick="myFunction()"  runat="server" >Button</button>
            <div class="form-group">

                <label id ="lbl1" class="col-form-label mt-4" for="inputDefault"></label>
                <input type="text" class="form-control" placeholder="Default input" id="inputDefault" runat="server">
            </div>
        </div>

        <script>
            function myFunction() {
                num = document.getElementById("inputDefault").value;
                num = parseInt(num);
                num = num + 1;
                document.getElementById("lbl1").innerHTML = num;
            }
        </script>*@
