
@{
    ViewBag.Title = "Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table table-hover">
    <thead>
        <tr class="table-active">
            <th scope="col">Skill</th>
            <th scope="col">Skill Experience</th>
            <th scope="col">Training place</th>
            <th scope="col">Level</th>
            <th scope="col">Projects</th>
            <th scope="col">#</th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <th scope="row" height="75"><a href="https://www.python.org/" target="_blank">Python</a></th>
            <td>2.4 years</td>
            <td><a href="https://www.infosys.com/" target="_blank">Infosys ltd</a></td>
            <td>Expert</td>
            <td><a href="/Home/Projects">4</a> </td>
            <td><img src="\Images\Python_logo.png" alt="Python logo" width="80" height="50"></td>
        </tr>
        <tr>
            <th scope="row" height="75"><a href="https://www.asp.net/" target="_blank">ASP.NET</a></th>
            <td>2 years</td>
            <td><a href="https://www.infosys.com/" target="_blank">Infosys ltd</a></td>
            <td>Expert</td>
            <td> <a href="/Home/Projects">2</a></td>
            <td><img src="\Images\.NET logo.jpg" alt="ASP.NET logo" width="80" height="50"></td>
        </tr>
        <tr>
            <th scope="row" height="75"><a href="https://www.3ds.com/products-services/catia/" target="_blank">Catia V5</a></th>
            <td>2.4 years</td>
            <td><a href="https://www.linkedin.com/company/computer-paradise/" target="_blank">Computer Paradise</a></td>
            <td>Expert</td>
            <td><a href="/Home/Projects">3</a></td>
            <td><img src="\Images\Catia logo.jpg" alt="Catia logo" width="80" height="50"></td>
        </tr>
        <tr>
            <th scope="row" height="75"><a href="https://www.mathworks.com/products/simulink.html" target="_blank">MATLAB & Simulink</a></th>
            <td>1 year</td>
            <td><a href="https://www.polito.it/" target="_blank">Politecnico di Torino</a></td>
            <td>Advanced</td>
            <td><a href="/Home/Projects">1</a></td>
            <td><img src="\Images\Matlab logo.png" alt="MATlab logo" width="80" height="50"></td>
        </tr>
        <tr>
            <th scope="row" height="75"><a href="https://www.pvsyst.com/" target="_blank">PVsyst</a></th>
            <td>1 year</td>
            <td><a href="https://www.polito.it/" target="_blank">Politecnico di Torino</a></td>
            <td>Expert</td>
            <td><a href="/Home/Projects">6</a></td>
            <td><img src="\Images\PVsyst logo.png" alt="PVsyst logo" width="80" height="50"></td>
        </tr>

        <tr>
            <th scope="row" height="75"><a href="https://www.wasp.dk/" target="_blank">WAsP</a></th>
            <td>1 year</td>
            <td><a href="https://www.polito.it/" target="_blank">Politecnico di Torino</a></td>
            <td>Expert</td>
            <td><a href="/Home/Projects">4</a></td>
            <td><img src="\Images\WAsP logo.png" alt="WAsP logo" width="50" height="50"></td>
        </tr>
        <tr>
            <th scope="row" height="75"><a href="https://support.microsoft.com/en-us/office/automate-tasks-with-the-macro-recorder-974ef220-f716-4e01-b015-3ea70e64937b" target="_blank">MS Excel Automation</a></th>
            <td>1 year</td>
            <td><a href="https://www.infosys.com/" target="_blank">Infosys ltd</a></td>
            <td>Advanced</td>
            <td><a href="/Home/Projects">1</a></td>
            <td><img src="\Images\Excel logo.png" alt="Excel logo" width="90" height="50"></td>
        </tr>
        <tr>
            <th scope="row" height="75"><a href="https://en.wikipedia.org/wiki/HTML" target="_blank">HTML</a></th>
            <td>1 year</td>
            <td><a href="https://www.infosys.com/" target="_blank">Infosys ltd</a></td>
            <td>Advanced</td>
            <td><a href="/Home/Projects">2</a></td>
            <td><img src="\Images\HTML logo.png" alt="HTML logo" width="50" height="50"></td>
        </tr>

        <tr>
            <th scope="row" height="75"><a href="https://en.wikipedia.org/wiki/SQL" target="_blank">SQL</a></th>
            <td>2 years</td>
            <td><a href="https://www.infosys.com/" target="_blank">Infosys ltd</a></td>
            <td>Advanced</td>
            <td><a href="/Home/Projects">2</a></td>
            <td><img src="\Images\SQL logo.png" alt="SQL logo" width="80" height="50"></td>
        </tr>

        <tr>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>


    </tbody>
</table>
